<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
		<!--通过初始化参数指定创建IOC容器时候的配置文件路径-->
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<!--在开机的时候就创建DispatcherServlet对象-->
		<load-on-startup>1</load-on-startup>

		<multipart-config>
			<!-- 定义文件上传时所需的最大值，单位为字节 -->
			<max-file-size>10485760</max-file-size>
			<!-- 定义单个上传文件的最大值，单位为字节 -->
			<max-request-size>20971520</max-request-size>
			<!-- 定义内存中存储文件的最大值，超过此大小的文件会写入到硬盘中 -->
			<file-size-threshold>5242880</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>