<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1. 包扫描-->
    <context:component-scan base-package="com.atguigu"></context:component-scan>

    <!--2. 加载外部的properties文件-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <!--3. 配置dataSource-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${datasource.username}"></property>
        <property name="password" value="${datasource.password}"></property>
        <property name="url" value="${datasource.url}"></property>
        <property name="driverClassName" value="${datasource.driverClassName}"></property>

    </bean>

    <!--4. 配置JdbcTemplate-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--5. 开启mvc注解驱动-->
    <mvc:annotation-driven />

    <!--6. 配置跨域-->
    <mvc:cors>
        <mvc:mapping path="/**"
                     allowed-origin-patterns="*"
                     allowed-methods="*"
                     allowed-headers="*"
                     allow-credentials="true"
        />
    </mvc:cors>


    <!--7. 配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--
                       /*表示一级路径
                       /**表示多级路径
                   -->
            <mvc:mapping path="/**"/>
            <bean class="com.atguigu.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>